body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer{
  cursor:pointer;
}

.my-link:hover{
  background-color: #6c757d;
}

/* dashboard */

/* sidebar nav */

.sidenav{
  display:flex;
  width: 280px;
  height: 100vh;
  transition:all 0.7s ease;
  z-index: 2000;
}

/* end daskboard */

@media print {
  body *{
    visibility: hidden;
  }
  .invoice-main, .invoice-main *, hr{
    visibility: visible;
  }

  .add-item-btn, .invoice-save-btn,.hidden-print{
    visibility: hidden !important;
    display: none;
  }

  .customer-dropdown{
    padding-left: 0;
    font-size: large;
    font-weight: bolder;
    border: none !important;
    outline: none !important;
  }

  .invoice-main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
  }

  select {
    background-image: none !important;
  }

  #note{
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    resize:none;
  }
}
